node_modules
.DS_Store
*.log
.vscode
dist
!apps/deployments/website/dist/
lib
tsconfig.tsbuildinfo
.idea/*
!.idea/dictionaries/
!.idea/dictionaries/**
/coverage/
/**/coverage/
.env
/data/test/
/**/.wrangler/

/data/observations/*
!/data/observations/.gitkeep
/data/artifacts/*
!/data/artifacts/.gitkeep
